; In order for the cljs REPL to load a browser must be opened.
; This will hang if you're operating in a headless environment.
; Uncomment the configuration for your system.

; Ubuntu
;^{:launch-js ["/opt/google/chrome/chrome" "--headless" "--disable-gpu" "--repl" "--disable-dev-shm" :open-url]}

; Raspberry Pi
;^{:launch-js ["/usr/bin/chromium-browser" "--headless" "--disable-gpu" "--repl"]}

; Mac
;^{:launch-js ["/Applications/Google Chrome.app/Contents/MacOS/Google Chrome" "--headless" "--disable-gpu" "--repl" :open-url]}

{:main fijit.test-runner}
